<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Demo-Webshop-Registration-Login-Tests">
    <test name="Demo-WebShop-Registration-Test">
        <classes>
            <class name="com.tricentis.demowebshop.test_cases.RegistrationTest">
                <methods>
                    <include name="testPositiveMaleRegistration"/>
                    <include name="testPositiveFemaleRegistration"/>
                    <include name="testPositiveNoGenderRegistration"/>
                    <include name="testNoFirstNameRegistration"/>
                    <include name="testRussianFirstNameRegistration"/>
                    <include name="testFirstNameWithNumbersRegistration"/>
                    <include name="testFirstNameWithSpecialCharactersRegistration"/>
                    <include name="testLargeFirstNameRegistration"/>
                    <include name="testNoLastNameRegistration"/>
                    <include name="testRussianLastNameRegistration"/>
                    <include name="testLastNameWithNumbersRegistration"/>
                    <include name="testLastNameWithSpecialCharactersRegistration"/>
                    <include name="testLargeLastNameRegistration"/>
                    <include name="testNoEmailRegistration"/>
                    <include name="testWrongDomenEmailRegistration"/>
                    <include name="testEmailAlreadyExistsRegistration"/>
                    <include name="testRandomStringEmailRegistration"/>
                    <include name="testLargeEmailRegistration"/>
                    <include name="testNoFirstPasswordRegistration"/>
                    <include name="testShortPasswordRegistration"/>
                    <include name="testLargePasswordRegistration"/>
                    <include name="testPasswordNotMatchRegistration"/>
                    <include name="testNoConfirmPasswordRegistration"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Demo-WebShop-Login-Test">
        <classes>
            <class name="com.tricentis.demowebshop.test_cases.LoginTest">
                <methods>
                    <include name="testPositiveNoRememberMeLogin"/>
                    <include name="testPositiveRememberMeLogin"/>
                    <include name="testNonexistentEmailLogin"/>
                    <include name="testEmptyEmailLogin"/>
                    <include name="testIncorrectEmailLogin"/>
                    <include name="testLargeNonexistentEmailLogin"/>
                    <include name="testIncorrectPasswordLogin"/>
                    <include name="testNoPasswordLogin"/>
                    <include name="testLargeIncorrectPasswordLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>